{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Form</title>
    <link rel="stylesheet" href="{% static "css/output.css" %}">
  </head>
  <body>
    <div class="w-1/2 mx-auto border p-6 shadow-lg my-3 rounded-md">
      <div>
        {% if messages %} {% for message in messages %}
        <div
          class="px-2 py-1 rounded-sm text-center text-white mb-4 {% if message.tags == 'success' %}bg-green-400{% endif %}"
        >
          {{message}}
        </div>
        {% endfor %} {% endif %}
      </div>
      <div>
        <form method="POST">
          {% csrf_token %} {{task_form.as_p}} {{task_detail_form.as_p}}
          <div class="flex justify-center mt-5">
            <button
              type="submit"
              class="border-1 bg-green-600 text-white px-8 py-2 rounded-sm"
            >
              ADD TASK
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
