{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static "css/output.css" %}">
  </head>
  <body>
    <div class="w-1/2 border mx-auto p-4 my-4">
      <h1>Login Form</h1>
      <form method="POST">
        {% csrf_token %}
        <input
          class="px-2 py-1 border-gray-300"
          type="text"
          placeholder="Enter username"
          name="username"
        />
        <br />
        <input
          class="px-2 py-1 border-gray-300"
          type="password"
          placeholder="Enter password"
          name="password"
        />
        <br />
        <button class="bg-green-600 my-3 px-5 py-2 text-white rounded">
          SUBMIT
        </button>
      </form>
    </div>
  </body>
</html>
